// https://getuikit.com/docs/sass
@import "../uikit/src/scss/variables-theme.scss";
@import "../uikit/src/scss/mixins-theme.scss";
@import "../uikit/src/scss/uikit-theme.scss";

.markdown ul {
    @extend .uk-list;
    @extend .uk-list-square;

}

hr {
    border: 0;
    height: 32px;
    background-color: #333;
    background-image: url(/img/hr.png);
    background-repeat: repeat-x;
    background-size: 64px 32px;
    overflow: hidden;
}

img {
    margin-right: 16px;
}

.uk-table-hover tbody tr:hover {
    background-color: #f0f8ff;
    color: #000000;
}