.top-buffer {
    margin-top: 25px;
}

.small-buffer {
    margin-top: 18px;
}

.bottom-buffer {
    margin-bottom: 150px;
}

body {
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3 {
    color: #e2435a;
}

hr {
    border: 0;
    height: 32px;
    background-color: #333;
    background-image: url(/img/hr.png);
    background-repeat: repeat-x;
    background-size: 64px 32px;
    overflow: hidden;
}

img {
    margin-right: 16px;
}