{% extends "base.html" %}

{% block content %}
  <div uk-grid>
    <div>
      {% set img = resize_image(path="img/e.png", width=150, op="fit_width") %}
      <img src="{{ img.url }}"
           alt="e"/>
      {% set img = resize_image(path="img/r.jpg", width=150, op="fit_width") %}
      <img src="{{ img.url }}"
           alt="r"/>
      {% set img = resize_image(path="img/wine.png", width=150, op="fit_width") %}
      <img src="{{ img.url }}"
           alt="wine bottle"/>
    </div>

    <div>
      {{ section.content | safe }}
    </div>
  </div>
{% endblock content %}
